body {
  /* image credit: subtlepatterns.com */
  background-image:url("tweed.png");
  background-repeat:repeat;
  margin: 0 0 0 0;
}

#nav {
  height: 50px;
  /* background-color: rgba(255,255,255,0.3); */
  background-color: rgba(29,87,79,0.8);
  overflow: hidden;
}

h1 {
  text-align: left;
  padding: 150px 0 0 60px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 48px;
  margin: 0 0 0 0;
}

#content {
  width: 100%;
  height: 600px;
  background-color: rgba(202,237,232,0.7);
}

#logo-text {
  font-size: 32px;
  font-family: "Gilda Display";
  color: #caede8;
  text-align: center;
  margin: 4px 0 0 0;
}
